<div class="panel panel-primary">
    <div class="panel-heading" ng-if="!newProject">Edit Project</div>
    <div class="panel-heading" ng-if="newProject">Add Project</div>
    <div class="panel-body">
        <div class="col-md-6 border">
            <form name="projectForm" ng-class="{ submitFailed: submitFailed }">
                <label for="project-name">Title<span>*</span></label>
                <input type="text" required ng-model="model.name" id="project-name" class="form-control" />
                <br>
                <label for="project-description">Description<span>*</span></label>
                <br>
                <textarea required ng-model="model.description" id="project-description" class="form-control"></textarea>
                <br>
                <div ng-if="newProject">
                    <label for="project-key">Project Key<span>*</span></label>
                    <input type="text" required ng-model="model.projectKey" id="project-key" class="form-control" />
                    <br>
                </div>
                <label for="project-lead">Lead<span>*</span></label>
                <br>
                <select id="project-lead" required ng-model="model.lead" ng-options="user.Username for user in users | orderBy:'Username' track by user.Id">
                    <option value="">-- Choose lead --</option>
                </select>
                <br><br>
                <label for="project-priorities">Priorities</label>
                <br>
                <tags-input id="project-priorities" ng-model="model.priorities" placeholder="Add a priority" display-property="Name" key-property="Name"></tags-input>
                <br>
                <label for="project-labels">Labels</label>
                <tags-input id="project-labels" ng-model="model.labels" placeholder="Add a label" display-property="Name" key-property="Name">
                    <auto-complete source="loadLabels($query)" min-length="2"></auto-complete>
                </tags-input>
                <br>
                <button class="btn btn-primary" ng-click="save(model)">Save</button>
            </form>
        </div>
    </div>
</div>