/* app css stylesheet */
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

label > span {
    color: red;
}
.table {
    table-layout: fixed;
}

.table td {
    word-wrap: break-word;
}

select.ng-pristine.ng-invalid-required {
    box-shadow: none;
}

.submitFailed input.ng-invalid,
.submitFailed textarea.ng-invalid,
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched,
.submitFailed select.ng-invalid-required,
select.ng-invalid-required.ng-touched {
    box-shadow: 0 0 2px red;
}